body {
    background-image: linear-gradient(to right,#F2F2F2 0%, #CEDEF2 30%, #1E2640 100%);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
    font-weight: 600;
    color: #000000;
}

.navbar {
    background-color: #3b024d;
    height: 60px;
    width: 1963px;
    margin-left: -50px;
    margin-top: -10px;
    padding-top: 2px;
    position: fixed;
}

.test{
    padding-top: 2.5%;
}

.link_navbar li {
    display: inline;
}

.link_navbar a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    margin: 20px;
    transition: all 0.8s;
}

.link_navbar a:hover {
    color: rgb(204, 255, 0);
}

.div_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_img_perfil {
    float: left;
}

.img {
    border-radius: 20px;
    width: 400px;
    margin: 30px;
    box-shadow: 2px 2px 15px silver,
    12px 12px 10px 4px black;
}

#img_perfil {    
    border-radius: 200px;
    width: 400px;
    margin: 30px;
    box-shadow: 2px 2px 15px silver,
    12px 12px 10px 4px black;
    width: 300px;
    margin-left: 4px;
}